:root{
--dark1: #999999;
--dark2: #666666;
--orange-red: rgb(255, 90, 95);

}
*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'montserrat',sans-serif;
    pointer-events: none;
}
html{
    scroll-behavior: smooth;
    scroll-margin-top: 2vh;

}
/* nav */
nav{
    display: flex;
    column-gap: 1vw;
    background-color: rgb(231, 231, 231);
    justify-content: space-between;
    padding: 0 2% 0 2% ;
    align-items: center;
    position: relative;
}
.menuIcon,
.searchIcon,
.logoIcon{
    width: 40px;
}
nav>div.popup{
    padding: 0;
    border-radius: 65%;
    position: relative;
}
nav>div.popup::after{
    content: attr(about);
    text-transform: capitalize;
    background-color: rgba(28, 27, 27, 0.762);
    border-radius: 4px;
    padding: 2px;    
    font-size: 11px;
    color: rgb(225, 225, 225);
    position: absolute;
    right: 0;
    bottom: -20px;
    z-index: 2;
    
    opacity: 0;
}
nav>div.popup:hover::after{
    opacity: 100;
    transition: all 0.2s 0.3s;
}
.logoIcon{
    width: 100px;
}
.search2{
    position: absolute;
    border: 2px dashed;
    right: 2%;
    background: #e7e7e7;
    height: 100%;
    display: flex;
    align-items: center;
    width: 96vw;
}
.form{
    display: flex;
    width: 100%;
}
.searchInput{
    font-size: 1rem;
    border: none;
    border-bottom: 2px solid black;
    background: transparent;
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
}
.searchInput:focus{
    outline: 2px solid rgb(144, 75, 242);
}
.submitButton{
    width: 40px;
    background-color: aquamarine;
    border: none;
}

/* banner */
.banner_scroll{
    height: 200px;
    width: 100%;
    overflow-x: scroll;
    
}
.flex{
    align-items: center;
    display: flex;
    height: inherit;
    width: fit-content;
    margin-left:5vw;
    padding-right: 5vw;
}

.flex>div{
    background-color: #666666;
    border-radius: 10px;
    height: 90%;
    width: 90vw;
}
.flex>*+*:not(:last-child){
    margin: 0 2px 0 2px;

}
.flex>div:nth-child(2n+1){
    background: #999999;
}

/* .item{
    aspect-ratio: ;
} */

::-webkit-scrollbar{
    display: none;
}
@supports(scrollbar-color : red blue){
    *{
        scrollbar-color: red blue;
        scrollbar-width: none;
    }
}
.banners{
    position: relative;
}
.arrows>div{
    background-color: rgba(55, 51, 51, 0.532);
    height: 180px;
    position: absolute;
    top: 10px;
    width: 30px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.arrows>div:hover{
    background-color: rgba(55, 51, 51, 0.752);

}
.arrows{
    opacity: 0;
}

.left_arrow>img{
    
    rotate: -90deg;
}
.right_arrow>img{
    
    rotate: 90deg;
}
.right_arrow{
    right: 0;
}

/* welcome */
.arrow_down>img{
    width: 50px;
}
.welcome{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.25rem;
    margin-block: 10px;
    padding-block: 5px;
    border-block: 2px dashed;
}
.arrow_down{
    margin-top: 20px;
}
.hi{
    color: rgba(28, 27, 27, 0);
    background: url('icons/hi.svg');
    background-repeat: no-repeat;
    background-size: cover;
}
.welcome>div:first-child{
    font-weight: 600;
}



@media only screen and (min-width: 600px){
    .arrows{
        opacity: 100;
    }
}

/* p{
    pointer-events: none;
} */