@use './styles/index' as *;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: grid;
    place-content: center;
    font-family: 'poppins';
    padding-inline: 1em;
    background: $Offwhite;
}
.attribution{
    position: absolute;
    bottom: 0.5em;
    left: 50%;
    transform: translateX(-50%);
}

main{
    background: $White;
    width: 100%;
    padding: 1.2em;
    border-radius: 1.2em 1.2em 6em 1.2em;
    @media (min-width:600px) {
        // width: min(70vw, 500px);
    }
    form{
        position: relative;
        width: 100%;
        display: grid;
        border-bottom: 2px solid $Offwhite;
        fieldset{
            all: unset;
            display: flex;
            width: 100%;
            column-gap: 1em;
            padding-bottom: 3rem;
            @media (min-width: 700px) {
                // display: block;
                width: -moz-fit-content;
                width: fit-content;
                justify-content: flex-start;
                div{
                    display: inline-flex;
                    width: -moz-fit-content;
                    width: fit-content;
                    input{
                        width: 4em;
                    }
                }
            }
        }
        div{
            flex: auto;
            width: 100%;
            display: flex;
            flex-direction: column;
            input{
                width: 100%;
                font-size: clamp(1.5rem, 3vw, 38px);
                font-family: inherit;
                border-radius: 0.3em;
                border:1px solid $Lightgrey;
                padding: 0.2em 0.4em;
            }
            input:focus{
                outline: none;
                border-color: $Purple;
            }
            label{
                color: $Smokeygrey;
                font-size: clamp(1rem, 1.5vw, 19px);
                letter-spacing: 0.1em;
            }
            small{
                font-size: clamp(0.7rem, 1.2vw, 15px);
                display: none;
            }
            input:invalid{
                border-color: $LightRed;
            }
            label:has(+input:invalid){
                color: $LightRed;
            }
            input:invalid+small{
                color: $LightRed;
                display: inline;
            }
        }
        #submit{
            background: $Smokeygrey;
            border: none;
            position: absolute;
            bottom: 0;
            transform: translate(-50% ,50%);
            border-radius: 100%;
            aspect-ratio: 1/1;
            padding: 0.4em;
            left: 50%;
            @media (min-width:700px) {
                left: unset;
                right: 0;
                transform: translate(0 ,50%);
                width: min(6vw,87px);
            }
            &:hover{
                background: $Purple;
                transition: all 100ms;
                padding: 0.5em;
                box-shadow: 0 0 5px ;
                & img{
                    width: 55%;
                }
            }
            img{
                width: 50%;
                height: auto;
            }
        }
    }
    .output{
        line-height: 1em;
        padding-top: 3rem;
        font-weight: 800;
        font-style: italic;
        font-size: clamp(3.5rem,8vw, 120px);
        padding-right: 1em;
        color: $Offblack;
        span{
            color: $Purple;
            
        }
    }
}