:root{
    font-family: 'Nunito', 'Arial Narrow', Arial, sans-serif;    
}

$black: rgba(0, 0, 0, 1);
$gray: rgb(82, 82, 82);
$oxford-blue: rgba(20, 33, 61, 1);
$orange-web: rgba(252, 163, 17, 1);
$platinum: rgba(229, 229, 229, 1);
$white: rgb(252, 251, 251);

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    background: $white;    
}
.container{
    width: 70vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: $platinum;
    padding: 20px;
    border-inline: 2px solid $gray;
    overflow: hidden;
}
.sec1{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    margin-block: 10px;
}
.table{
    width: 100%;
    height: 100%;
    // background: $orange-web;
    position: relative;
}
.back{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    position: absolute;
}
.back>div:nth-child(1){
    grid-column: span 2;
}
.back>div:not(:last-child){
    border-right: 2px dashed $gray ;
}
.records{
    width: 100%;
    height: 100%;
    position: absolute;
    overflow-y: scroll;
}
.records>div{
    border-radius: 5px;
    border: 2px solid $gray;
    margin-block: 10px;
    padding: 2px;
}

// input 
.input_section{
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
    margin-bottom: 25px;
}
.input_section>div{
    width: 100%;
    display: flex;
    column-gap: 3px;
    position: absolute;
}
.input_section>div[data-active="1"]{
    animation: slide 250ms cubic-bezier(.8,1.07,.9,1.04);
}
@keyframes slide {
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(0);
    }
}
.input_section>div:not([data-active="1"]){
    display: none;
}
.input_section>div>input{
    border: 1px solid $gray;
    border-radius: 5px;
    width: 100%;
    padding-block: 5px;
    padding-left: 10px;
    font-size: 1.2rem;
}
.input_section>div>button{
    border: 1px solid $gray;
    border-radius: 5px;
    background: $orange-web;
    padding-inline: 5%;
}

// record
.record{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.record>span{
    justify-self: center;
}
.name{
    grid-column: span 2;
}