
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    position: relative;
    font-family: monospace;
    overflow: hidden;
}
.header>h1{
    font-size: 3.5vh;
    text-align: center;
    color: #cbcbcb;
    margin: 0.5vh;
}
.header{
    
    
    height: 5vh;
    width: 100%;
    background-color: #5a5a5a;
    
}
.content{
    margin-top: 1vh;
    height: 78vh;
    width: 100%;
    
   
    overflow: scroll;

    
}
.content *+*{
    margin-top: 0.5vh;
}
.container{
    display: flex;
    flex-direction: column;
    
}
.category{
    
    z-index: 6;
    height: 120px;
    width: 100%;
    background-color: #464646;
    
    overflow-x: scroll;
    
}

.i{
    margin-top: 10px;
    z-index: 6;
    height: 100px;
    width: 100px;
    margin-left: 1.5vw;
    background-color: #2c2a2a;
    border-radius: 5px;
} 
.flex{
    width: 800px;
    display: flex;
    flex-direction: row;
}

.player{
    margin-top: 1vh;
    background-color: #414345;
    height: 15vh;
    
    display: flex;
    flex-direction: row;
    align-items: center;
}
.cover{
    margin-left: 15px;
    width: 11vh;
    height:11vh;
    background-image: url(covers/Shiver.jpg);
    background-size: cover;
    
}
.section-main{
   flex-grow: 1;
    margin-right: 12px;
    margin-left: 12px;
   
    
}
.section-1{
    display: flex;
    column-gap: 28vw;
}

.name{
    text-transform: capitalize;
    
    margin-bottom: 2vh;
    color: #b9b9b9;
    
    
}




.seek-bar{
    -webkit-appearance:none;
    width: 100%;
    height: 4px;
    border-radius: 10px;
    background-color: gray;
    cursor: pointer;
    overflow: hidden;
}
.seek-bar::-webkit-slider-thumb{
    -webkit-appearance:none;
    width: 0.1px;
    height: 4px;
    border-radius: 100%;
    background-color: #a2d3c6;
    box-shadow: -400px 0 0 400px #a2d3c6;
}

.current-time,
.song-duration{
    
    font-size: 11px;    
    color: aliceblue;
}
.song-duration{
    float: right;
    
}

.play-button{
    position: absolute;
    right: 3vw;
    border: none;
    background-color: #dddada;
    width: 35px;
    height: 35px;
    border-radius:50%;
    cursor: pointer;
}
.play-button span{
    position: absolute;
    width: 6px;
    height: 20px;
    top: 50%;
    left: 30%;
    transform: translateY(-50%);
    background-color: #6a6767;
    border-radius: 2px;
    transition: .2s;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
.play-button span:nth-child(2){
    left: 55%;
    transform-origin: center;
}
.play-button.pause span:nth-child(2){
    transform: translateY(-50%) scaleY(0);
}

.play-button.pause span:nth-child(1){
    width: 40%;
    left: 36%;
    border-radius: 2px;
    clip-path: polygon(0 0, 100% 50%, 100% 50%, 0% 100%);
}

.play-button.pause{
    animation: pulse 5s linear infinite;
}
@keyframes pulse{
    0%{
        opacity: 100%;
    }
    25%{
        opacity: 60%;
    }
    50%{
        opacity: 20%;
    }
    75%{
        opacity: 60%;
    }
    100%{
        opacity: 100%;
    }
}

.category::-webkit-scrollbar{
    width: 0;
    height: 0;
}

.i1{
    background-image: url(covers/shiver.jpg);
    background-size: cover
}
.i2{
    background-image: url(covers/alone.jpg);
    background-size: cover
}
.i3{
    background-image: url(covers/wish-you-the-best.jpg);
    background-size: cover
}

