*,
*:before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: min(100%, 800px);
  background: #1e1e1e;
  height: 100vh;
  position: relative;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-inline: auto;
  border-inline: 1px solid rgba(255, 255, 255, 0.11);
}

body.disableScroll {
  overflow-y: hidden;
}

header {
  width: 100%;
}
header nav {
  margin-bottom: 0.01em;
  background: #F5F5F5;
  display: grid;
  grid-auto-flow: column;
  grid-auto-rows: 2.4em;
  align-items: center;
  justify-content: space-between;
}
header nav .nav__logo {
  padding: 0.2em 0 0.2em 0.2em;
  grid-column: 1;
}
header nav .nav__logo img {
  width: 100%;
  height: auto;
}
header nav section {
  height: 100%;
  width: auto;
  display: flex;
}
header nav section a {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 0.3em;
  aspect-ratio: 1/1;
}
header nav section a img {
  width: auto;
  height: 100%;
}
header nav section .nav__facebook {
  background: #4267B2;
}
header nav section .nav__facebook:hover {
  background: #375796;
}
header nav section .nav__contact {
  background: #FF5252;
}
header nav section .nav__contact:hover {
  background: #e73c3c;
}
header .hero {
  position: relative;
}
header .hero img {
  width: 100%;
}
header .hero section {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 1em;
  z-index: 2;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: space-between;
  background: #FF5252;
}
header .hero section .text {
  padding-left: 1em;
  color: #ffffff;
}
header .hero section .CTA {
  font-family: inherit;
  width: auto;
  height: 100%;
  margin-right: 2em;
  background: #424242;
  border: none;
  font-size: 1rem;
  font-weight: 600;
  color: #ffffff;
  padding-inline: 0.8em;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
}
header .hero section .CTA:hover p {
  color: #1e1e1e;
  position: relative;
  z-index: 2;
  transition: all 200ms;
}
header .hero section .CTA:hover .CTA__wa_tp {
  animation-play-state: paused;
  display: none;
}
header .hero section .CTA:hover::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  background: #f9c22e;
  width: 0;
  animation: fill 200ms ease-in forwards;
}
@keyframes fill {
  100% {
    width: 100%;
  }
}
header .hero section .CTA .CTA__wa_tp {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  opacity: 0;
  z-index: 4;
  transform: translateY(90%);
  animation: fadeIn 6s infinite ease-in-out;
}
header .hero section .CTA .CTA__wa_tp img {
  width: 100%;
  height: 100%;
}
header .hero section .CTA .CTA__wa_tp .CTA__WA {
  background: #25D366;
}
header .hero section .CTA .CTA__wa_tp .CTA__contact {
  background: #f9c22e;
  padding: 0.4em;
}
@keyframes fadeIn {
  40% {
    transform: translateY(90%);
    opacity: 0;
  }
  60%, 80% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-100%);
    opacity: 0;
  }
}
header .copy-dialog[open] {
  margin-block: auto;
  left: 0;
  right: 0;
  display: grid;
  align-items: center;
  justify-content: center;
  z-index: 20;
  position: absolute;
  margin-inline: auto;
  width: 20em;
  border: none;
  padding: 0.8em 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 0.5em;
  border-radius: 0.4em;
}
header .copy-dialog[open] p, header .copy-dialog[open] h3 {
  text-align: center;
}
header .copy-dialog[open] h3 {
  color: #424242;
}
header .copy-dialog[open] #copy {
  padding: 0.3rem 0.6rem;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 600;
  border: 1px solid rgba(128, 128, 128, 0.543);
  border-radius: 0.2em;
}
header .copy-dialog[open] #copy.done {
  background: #8BC34A;
}
header .copy-dialog[open] #copy.failed {
  background-color: #FF5252;
}
header .copy-dialog[open]::backdrop {
  background: #1e1e1e;
  opacity: 40%;
}
header .copy-dialog[open] #close {
  position: absolute;
  top: 0.2em;
  right: 0.2em;
  width: 1.5em;
  height: auto;
}

main section {
  margin-top: 0.7em;
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.553);
}
main section h2 {
  color: #ffffff;
  background: #FF5252;
  text-align: center;
  width: -moz-fit-content;
  width: fit-content;
  margin-inline: auto;
  padding-inline: 0.5em;
}
main section div figure {
  position: relative;
}
main section div figure:not(:last-child) {
  padding-bottom: 0.2em;
}
main section div figure img {
  width: 100%;
}
main section div figure:hover::before {
  content: "";
  position: absolute;
  overflow: hidden;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.225);
}
main section div figure figcaption {
  font-weight: 300;
  background: #f9c22e;
  -webkit-clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
          clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
  width: -moz-fit-content;
  width: fit-content;
  position: absolute;
  bottom: 1.5em;
  padding-inline: 0.2em 1.5em;
}
main section div #imgDialog {
  max-width: 800px;
  position: absolute;
  z-index: 10;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: none;
  border: none;
  margin: auto auto;
}
main section div #imgDialog::backdrop {
  background: rgba(0, 0, 0, 0.852);
}
main section div #imgDialog button {
  all: unset;
  background: #F5F5F5;
  aspect-ratio: 1/1;
  padding: 0.3em;
  display: flex;
  margin: 0.2em 0.2em;
  border-radius: 0.5em;
  position: fixed;
  top: 0;
  right: 0;
}
main section div #imgDialog button img {
  width: 2em;
  height: auto;
}
main section div #imgDialog div {
  padding: 0.5em;
}
main section div #imgDialog div img {
  width: 100%;
}
main section div #imgDialog div :not(:last-child) {
  padding-bottom: 0.1em;
}

footer {
  margin-top: 0.5em;
  display: flex;
  justify-content: space-between;
  background: #424242;
  padding: 0.5em 1em;
}
footer div {
  display: flex;
}
footer div a:first-child {
  padding-right: 0.5em;
  border-right: 1px solid gray;
}
footer a {
  display: flex;
  align-items: center;
  color: white;
}
footer a img {
  width: auto;
  height: 1.2em;
}/*# sourceMappingURL=style.css.map */