// // Primary Color
// $primary-color: #005C61;

// // Accent Colors
// $accent-color-1: #A8A8A8;
// $accent-color-2: #C66F78;
// $accent-color-3: #6B8E23;

// // Background Color
// $background-color: #F5F5F5;

// // Call-to-Action Color
// $cta-color: #FF5500;

// Color palette
// $red: #FF5252; // Primary red color
$lightGray: #F5F5F5; // Background or neutral color
$darkGray: #424242; // Text or accent color
$lightBlue: #03A9F4; // Call-to-action or highlight color
$lightGreen: #8BC34A; // Success or positive color

// Custom classes
// .primary-red {
//   color: $red;
// }

// .background-light-gray {
//   background-color: $lightGray;
// }

// .text-dark-gray {
//   color: $darkGray;
// }

// .cta-light-blue {
//   background-color: $lightBlue;
//   color: #fff;
// }

// .success-light-green {
//   background-color: $lightGreen;
//   color: #fff;
// }

// Dark Theme
$primary-color: #FF5252; // Primary red color
$background-color: #1e1e1e; // Dark background color
$text-color: #ffffff; // Light text color for dark background
$accent-color: #f9c22e;

// Light Theme
$primary-color-light: #FF5252; // Primary red color (same as dark theme)
$background-color-light: #f7f7f7; // Light background color
$text-color-light: #1e1e1e; // Dark text color for light background
